<%- include('header'); -%>
 
 
<form method="POST" action="/new">
    <label>Name
  <input type="text" name="author"></label><br/>
  <textarea name="messageText" id="message" cols="30" rows="10"></textarea><br/>
<button type="submit">Submit</button> 
</form>

<%- include('footer'); -%>